version: 2.1

jobs:
  build:
    docker:
      - image: cimg/node:18.17
    steps:
      - checkout
      - run:
          name: Install frontend dependencies
          command: |
            cd INSY7314-PaymentPortal/frontend
            npm install
      - run:
          name: Run frontend tests
          command: |
            cd INSY7314-PaymentPortal/frontend
            npm test
      - run:
          name: Install backend dependencies
          command: |
            cd INSY7314-PaymentPortal/backend
            npm install
      - run:
          name: Run backend tests
          command: |
            cd INSY7314-PaymentPortal/backend
            npm test

workflows:
  version: 2
  build-and-test:
    jobs:
      - build
