version: 2.1

orbs:
  sonarcloud: sonarsource/sonarcloud@2.0.0

jobs:
  build:
    docker:
      - image: cimg/node:18.17
    steps:
      - checkout
      - run:
          name: Install frontend dependencies
          command: |
            cd INSY7314-PaymentPortal/frontend
            npm install
      - run:
          name: Install backend dependencies
          command: |
            cd INSY7314-PaymentPortal/Backend
            npm install
      - sonarcloud/scan  # Add this step to run the scan

workflows:
  version: 2
  build-and-test:
    jobs:
      - build:
          context: SonarCloud  # Reference the context with SONAR_TOKEN
